@import url("https://fonts.googleapis.com/css2?family=Whirly+Birdie&display=swap");
@import url("https://fonts.cdnfonts.com/css/whirly-birdie");

.main_note {
  width: 500px;
  padding: 15px 10px 5px 10px;
  margin: 20px auto;
  height: auto;
  /* background-color: red; */
}
.create-note-heading {
  /* margin-top: 70px; */
  height: auto;
  font-family: "Whirly Birdie", sans-serif;
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  color: #344e41;
}

form {
  color: #6b8e23;
  padding: 0 15px;
  border-radius: 10px;
  border: 2px solid rgba(167, 201, 87, 0.5);
  position: relative;
  margin: 0;

  /* Glassmorphism effect */
  background: rgba(245, 245, 220, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  font-family: "Whirly Birdie", cursive;
}

input {
  width: 100%;
  line-height: 30px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  margin: 10px 0;
  font-weight: bold;
  color: #3c763d;
  font-family: "Jost", sans-serif;
}

textarea {
  width: 100%;
  line-height: 30px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #3c763d;
  font-family: "Jost", sans-serif;
  margin: 10px 0;
}

.MuiButton-root {
  width: 30px;
  height: 60px;
  position: absolute;
  bottom: -28px;
  left: 430px;
  cursor: pointer;
  background-color: #fefae0 !important;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.5);
  border-radius: 50% !important;
}

.MuiButton-root .plus_sign {
  font-size: 30px !important;
  font-weight: 900;
  color: #457544;
  cursor: pointer;
  z-index: 222;
  background: transparent;
}

.MuiButton-root:hover {
  background: #457544 !important;
}

.MuiButton-root:hover .plus_sign {
  color: #fefae0;
  background: transparent;
}
