.header {
  width: 100%;
  line-height: 100px;
  background-color: #457544;
  /* background-color: #386641; */
  /* background-color: #eae4d0; */
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 50px;
  color: white;
  height: 72px;
}
.header img {
  height: 50px;
  border-radius: 50%;
}
