div {
  height: 100vh;
  /* background-color: #ECF39E; */
  box-sizing: border-box;
}

.carousel {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap; /* Allows notes to align neatly */
  justify-content: center;
  gap: 16px;
  height: auto;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-bottom: 30px;
}

.pagination-controls button {
  background-color: #344e41;
  color: white;
  border: none;
  padding: 8px 12px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-controls button:hover {
  background-color: #6b8e23;
}

.pagination-controls span {
  font-size: 1.2em;
  margin: 0 10px;
}
.footer {
  margin-top: 30px;
  text-align: center;
  padding: 20px;
  background-color: #344e41;
  color: white;
  position: relative;
  /* top: 45vh; */
  bottom: 0vh;
  width: 100%;
}

.disabled:hover {
  opacity: 0.5;
  cursor: not-allowed;
}
