.note {
  background: rgba(245, 245, 220, 0.1);
  /* background-color: #f7f4e0; */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 15px;
  width: 30%;
  /* width: 360px; */
  /* resize: vertical; 
  min-height: 150px; 
  overflow: auto; 
  box-sizing: border-box;  */
  margin: 5px;
  float: left;
  font-family: "Jost", sans-serif;
  transition: background-color 0.3s ease;
  /* margin-bottom: 50px; */
  box-sizing: border-box;
}

.note h1 {
  font-size: 2em;
  /* color: #344e41; */
  color: #606c38;
  font-family: "Jost", sans-serif;
}
.note h3 {
  font-size: 1.2em;
  color: #457b9d;
  font-family: "Jost", sans-serif;
}
.note hr {
  border: none;
  border-top: 1px solid #d4ccb5;
  margin: 5px 0;
  width: 100%;
  opacity: 0.8;
  transition: border-color 0.3s ease;
}
.note p {
  font-size: 0.9em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  /* color: #6b8e23; */
  color: #5e503f;

  font-family: "Jost", sans-serif;
}

.note .btn {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #3c763d;
  border: none;
  background: transparent;
  cursor: pointer;
}

.deleteIcon {
  width: 0.7em;
  height: 0.7em;
  color: #3c763d;
}

.note .btn:hover .deleteIcon {
  color: brown;
}

.note-actions {
  display: flex;
  justify-content: space-between;
  height: auto;
}

.pin-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.delete-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.deleteIcon {
  color: #3c763d;
}

.pin-btn .MuiSvgIcon-root {
  color: grey;
  transition: color 0.3s ease, transform 0.3s ease;
}

.pin-btn .MuiSvgIcon-root:hover {
  color: maroon;
  transform: rotate(20deg);
}

.pin-btn .MuiSvgIcon-root.pinned {
  color: maroon;
  transform: rotate(380deg);
}

.note.pinned {
  /* background-color: #efd9ce; */
  background-color: #f7f4e0;
  transform: scale(1.02);
}
.note.unpinned {
  transform: scale(1);
}
.note.pinned h1 {
  color: #2f4f5e;
}
.note.pinned h3 {
  color: #606c38;
}

.note.pinned p {
  /* color: #5e503f; */
  color: #6b8e23;
}

.note.delete {
  opacity: 0;
  transform: scale(0.8);
}

.react-hot-toast {
  height: auto !important;
  max-height: 100px;
  overflow: hidden;
  z-index: 9999;
}

/* General reset for box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Desktop and large screens */
@media (min-width: 1024px) {
  .note {
    width: 30%;
    margin: 10px;
  }
}

/* Tablet screens (Portrait and Landscape) */
@media (min-width: 768px) and (max-width: 1023px) {
  .note {
    width: 45%;
    margin: 10px;
  }

  .note h1 {
    font-size: 1.8em;
  }

  .note h3 {
    font-size: 1em;
  }

  .note p {
    font-size: 0.8em;
  }
}

/* Mobile screens (Portrait) */
@media (max-width: 767px) {
  .note {
    width: 90%;
    margin: 10px auto;
    float: none;
  }

  .note h1 {
    font-size: 1.5em;
  }

  .note h3 {
    font-size: 0.9em;
  }

  .note p {
    font-size: 0.8em;
  }

  .note-actions {
    flex-direction: column;
    align-items: flex-end;
  }

  .pin-btn,
  .delete-btn {
    margin-bottom: 5px;
  }
}

/* Very small mobile screens (like iPhone SE) */
@media (max-width: 375px) {
  .note h1 {
    font-size: 1.2em;
  }

  .note h3 {
    font-size: 0.8em;
  }

  .note p {
    font-size: 0.7em;
  }
}
