.note {
  background: rgba(
    245,
    245,
    220,
    0.1
  ); /* Light background with transparency (glassmorphism effect) */
  backdrop-filter: blur(10px); /* Glassmorphism effect */
  -webkit-backdrop-filter: blur(10px);
  height: auto;
  border-radius: 10px; /* Rounded corners to match the form */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Softer shadow */
  padding: 15px;
  width: 360px;
  margin: 5px;
  float: left;
  font-family: "Jost", sans-serif;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
  color: #344e41;
  font-family: "Jost", sans-serif;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #6b8e23; /* Match the form's color */
  font-family: "Jost", sans-serif;
}

.note .btn {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #3c763d;
  border: none;
  background: transparent;
  cursor: pointer;
}

.deleteIcon {
  width: 0.7em;
  height: 0.7em;
  color: #3c763d; /* Match the button text color */
}

.note .btn:hover .deleteIcon {
  color: brown;
}

.note-actions {
  display: flex;
  justify-content: space-between;
  height: auto;
}

.pin-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.delete-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.deleteIcon {
  color: #3c763d;
}

.pin-btn .MuiSvgIcon-root {
  /* color: #ffcc00;  */
  color: grey;
}

.pin-btn .MuiSvgIcon-root.pinned {
  color: maroon;
}
